---
layout: default-content
title: Blog
---
<ul>
	{% for post in site.posts %}
	{% if post.published == true %}
	<li class="no-bullet">
		<div class="post__item__wrapper">
			<div class="post__item__thumb">
				<div class="post__item__thumb__wrapper">
					<img src="{{ post.thumb }}" alt="">
				</div>
			</div>

			<div class="post__item__data">
				<div class="post__item__data__wrapper">
					{% assign post_link = post.url %}
					{% if post.external_link %}
						{% assign post_link = post.external_link %}
					{% endif %}
					<a href="{{ post_link }}" target="_blank"><h3>{{ post.title }}</h3></a>
					<p class="post__item__excerpt">{{ post.excerpt | markdownify }}</p>
					<div class="post__item__data__readmore btn">
						<a href="{{ post.url }}">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>