---
layout: default

title: Home

about_pic: /assets/img/about.jpg
about_title: About me
about_content: |
  *My research focuses on trait evolution to understand the evolutionary processes and biodiversity patterns in medicinal species, scientifically supporting traditional knowledge, to ultimately improve health.*

  To achieve this, I work with museum collections and modern samples using phylogenomic and chromatographic approaches.

  Currently, I am a Marie Skłodowska-Curie PhD fellow in the [Natural History Museum of Denmark](https://evogenomics.snm.ku.dk/research-groups/roensted_group/) and an early stage researcher in the [Plant.ID project](https://www.plantid.uio.no/). Originally from Peru, where I graduated as BSc. Genetics and Biotechnology, then I moved to China to study a MSc. Bionformatics…

_page: home
---
<section class="section__about" id="about_me">
	<div class="about__wrapper">
		<div class="about__main">
			<div class="about__main__pic">
				<div class="about__main__pic--inside" style="background-image: url('{{ page.about_pic }}')"></div>
			</div>

			<div class="about__main__info general__text">
				<div class="about__main__info__wrapper">
					<h1>{{ page.about_title }}</h1>
					<div class="about__main_desc">
						{{ page.about_content | markdownify }}
					</div>
					<div class="about__main__read_more btn">
						<a href="/about.html">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section__events">
	<div class="section__wrapper">
		<div class="section__title">
			<h1>Upcoming Events</h1>
		</div>

		<div class="section__content">
			<div class="list__events">
				{% assign total_events = site.events | sort: "event_date_sort" %}
				{% assign n_events = total_events | size %}
				<ul class="list__columns-{{ n_events }}">
					{% for event in total_events limit: 4 %}
					<li>
						<a href="{{ event.event_link }}">
							<figure>
								<div class="figure__img">
									<div style="background-image: url('{{ event.event_image }}')"></div>
								</div>
								<figcaption>
									<h2>{{ event.event_name }}</h2>
									<h3>{{ event.event_desc }}</h3>
									<span>{{ event.event_date_render }}</span>
								</figcaption>
							</figure>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="alt__background"><span></span></div>
</section>

<section class="section__news">
	<div class="section__wrapper">
		<div class="section__title">
			<h1>News</h1>
		</div>

		<div class="section__content">
			<ul class="list__news">
				{% assign news = site.posts | where: "type", "news" %}
				{% for post in news %}
				<li class="no-bullet">
					<div class="post__item__wrapper">
						<div class="post__item__thumb">
							<div class="post__item__thumb__wrapper">
								<img src="{{ post.thumb }}" alt="">
							</div>
						</div>

						<div class="post__item__data">
							<div class="post__item__data__wrapper">
								{% assign post_link = post.url %}
								{% if post.external_link %}
									{% assign post_link = post.external_link %}
								{% endif %}
								<a href="{{ post_link }}" target="_blank"><h3>{{ post.title }}</h3></a>
								<p class="post__item__excerpt">{{ post.excerpt | markdownify }}</p>
								<div class="post__item__data__readmore btn">
									<a href="{{ post.url }}">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
