.about__main {
  width: 100%;
  height: calc(100vh - 72px);
  min-height: 600px;
  display: flex;
  flex-wrap: nowrap;
}

.about__main__pic {
  width: 100%;
}

.about__main__pic {
  width: 50%;
  height: 100%;
}

.about__main__pic--inside {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.about__main__info__wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.about__main__info {
  width: 50%;
  display: flex;
  align-items: center;

  h1 {
    color: $main-color;
    font-size: 30px;
  }

  .about__main_desc {
    max-width: 600px;
    p {
      margin: 15px 0 0 0;
      text-align: justify;
    }
  }
}

.about__main__read_more {
  float: right;
}