---
header_text_title: Nataly A. Canales
header_text_sub: Alt

email: nataly.canales@snm.ku.dk
twitter_h: allasicanales
twitter_l: https://twitter.com/allasicanales
researchgate_l: https://www.researchgate.net/profile/Nataly_Allasi_Canales

footer_info: |
  # Natural History Museum of Denmark
  ## University of Copenhagen
  ### Øster Farimagsgade 5A, building 7, 1st - 136
  Copenhagen DK-1353, Denmark

  +45 40230102

page_description: |
  I am an evolutionary biologist with strong focus on trait evolution to understand the evolutionary processes and biodiversity patterns in medicinal species, scientifically supporting traditional knowledge, to ultimately improve health. To achieve this, I work with museum collections and modern samples using phylogenomic and chromatographic approaches.

  Currently, I am a Marie Skłodowska-Curie PhD fellow in the [Natural History Museum of Denmark](https://evogenomics.snm.ku.dk/research-groups/roensted_group/) and an early stage researcher in the [Plant.ID project](https://www.plantid.uio.no/). Originally from Peru, where I obtained my bachelors in Genetics and Biotechnology, then I moved to China to study my masters in Bionformatics… 

---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% if page.title == "Home" %}
		<meta property="og:title" content="dnataly">
		{% else %}
		<meta property="og:title" content="dnataly - {{ page.title }}">
		{% endif %}
		<meta property="og:type" content="website">
		{% assign og_image = "/assets/img/site/site.jpg" %}
		{% if page.thumb %}
			{% assign og_image = page.thumb %}
		{% endif %}
		<meta property="og:image" content="{{ og_image }}">
		<meta property="og:url" content="{{ page.url | absolute_url }}">
		<meta property="og:site_name" content="DNATALY">
		<meta property="og:description" content="{{ layout.page_description }}">

		{% if page.title == "Home" %}
		<title>dnataly</title>
		{% else %}
		<title>dnataly - {{ page.title }}</title>
		{% endif %}
		<link href="https://fonts.googleapis.com/css?family=Adamina|Lustria|Philosopher|Sura" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/slick.css">
		<link rel="stylesheet" href="/assets/css/jquery-ui.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="assets/js/slick.min.js"></script>
		<script src="assets/js/jquery-ui.min.js"></script>
		<script src="assets/js/main.js"></script>

		<link rel="shortcut icon" type="image/png" href="/favicon.png">
	</head>
	<body>
		<div class="header__wrapper {{ page._page }}">
			{% if page._page == "home" or page._page == "home2" or page._page == "home3" %}
			<header class="home2">
				<div class="header__page">
					<div class="header__logo">
						<i class="icon-logo"></i>
					</div>
					<div class="header__text">
						<h1>{{ layout.header_text_title }}</h1>
						<h2>{{ layout.header_text_sub }}</h2>
					</div>
				</div>
				<div class="header__background">
					<div class="header__background__over"></div>
					<div class="header__background__list">
						{% assign backgrounds = site.static_files | where: "background", true %}
						{% for background in backgrounds %}
						<div class="header__background__img" style="background-image: url('{{ background.path }}')"></div>
						{% endfor %}
					</div>
				</div>

				{% if false %}
				<div class="values_value">50%</div>
				<div class="values"></div>
				{% endif %}

				<div class="go_down">
					<a href="#about_me"><i class="icon-arrow-down2"></i></a>
				</div>
			</header>
			{% endif %}

			<section class="section__menu">
				<div class="section__menu__wrapper">
					<div class="header__page">
						<div class="header__logo">
							<i class="icon-logo"></i>
						</div>
					</div>

					{% include menu.html %}

					<div class="menu__icon">
						<i class="icon-icon-menu"></i>
					</div>
				</div>
			</section>
		</div>

		<main>
			{{ content }}
		</main>

		<footer>
			<div class="footer__wrapper">
				<div class="section__title">
					<h1>Contact Me</h1>
				</div>

				<div class="footer__twitter_feed">
					<a class="twitter-timeline" href="https://twitter.com/allasicanales?ref_src=twsrc%5Etfw" data-tweet-limit="4">Tweets by allasicanales</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
				</div>

				<div class="footer__info__wrapper">
					<div class="footer__links">
						<div class="footer__links__mail"><a href="mailto:{{ layout.email }}"><i class="icon-mail4"></i>{{ layout.email }}</a></div>
						<div class="footer__links__twitter"><a href="{{ layout.twitter_l }}"><i class="icon-twitter"></i>@{{ layout.twitter_h }}</a></div>
						<div class="footer__links__rg"><a href="{{ layout.researchgate_l }}"><i class="icon-rg"></i></a></div>
					</div>

					<div class="footer__info">
						{{ layout.footer_info | markdownify }}
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>