---
layout: default
---
<section class="general__content {{ page.type }}">
  <div class="section__title_cover">
    <div class="section__title__wrapper">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="section__title__bckgrnd"></div>
  </div>
  <div class="section__wrapper">
    <div class="content__wrapper">
      <div class="extra__column">
        {{ page.extra_column | markdownify }}
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</section>